<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TabbedApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CB64DA831ED67DC700EBCDF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB64DA991ED67DC800EBCDF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB64DAA41ED67DC800EBCDF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
