<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ThirdTestApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CB64D8AF1ED41ACD00EBCDF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB64D8C31ED41ACD00EBCDF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB64D8CE1ED41ACD00EBCDF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
